.PostCard {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postheading {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  display: inline-block;
  padding: 20px;
}

textarea {
  width: 100%;
  padding: 20px;
  padding-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  display: inline-block;
}

body {
  font-family: 'Poppins', sans-serif;
}

.imageUpload {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;

}

.cancelButton {
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
  width: 40%;
}

.cancelButton:hover {
  background-color: #F16236;
  border: 1px solid #F16236;
  color: white;
}

.postButton {
  margin-left: 10px;
  background-color: #F16236;
  border: none;
  width: 40%;
}

.postButton:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.cardfooter {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.btnCreatePost {
  border: 1px solid white;
  color: white;
  background-color: #F16236;
  width: 70%;
}